openapi: 3.1.0
info:
  title: Dwolla API
  description: Dwolla API Documentation
  contact:
    name: Dwolla Developer Relations Team
    url: https://developers.dwolla.com
    email: api@dwolla.com
  version: '2.0'
  termsOfService: https://www.dwolla.com/legal/tos/
  license:
    name: MIT
    url: https://github.com/Dwolla/dwolla-openapi/blob/master/LICENSE
jsonSchemaDialect: https://spec.openapis.org/oas/3.1/dialect/base
servers:
  - url: https://api.dwolla.com
    description: Production server
    x-speakeasy-server-id: prod
  - url: https://api-sandbox.dwolla.com
    description: Sandbox server
    x-speakeasy-server-id: sandbox
security:
  - bearerAuth: []
tags:
  - name: tokens
    description: Operations related to Application Access Tokens
  - name: root
    description: Root API operations
  - name: accounts
    description: Operations related to Accounts
  - name: customers
    description: Operations related to Customers
  - name: kba
    description: Operations related to Knowledge-Based Authentication
  - name: beneficial owners
    description: Operations related to Beneficial Owners
  - name: documents
    description: Operations related to Documents
  - name: exchanges
    description: Operations related to Exchanges
  - name: exchange sessions
    description: Operations related to Exchange Sessions
  - name: funding sources
    description: Operations related to Funding Sources
  - name: transfers
    description: Operations related to Transfers
  - name: labels
    description: Operations related to Labels
  - name: mass payments
    description: Operations related to Mass Payments
  - name: events
    description: Operations related to Events
  - name: webhook subscriptions
    description: Operations related to Webhook Subscriptions
  - name: webhooks
    description: Operations related to Webhooks
  - name: client tokens
    description: Operations related to Client Tokens
  - name: sandbox simulations
    description: Sandbox-only operations for simulating processing of bank transfers
paths:
  /accounts/{id}:
    get:
      tags:
        - accounts
      summary: Retrieve account details
      description: Returns basic account information for your authorized Main Dwolla Account, including account ID, name, and links to related resources such as funding sources, transfers, and customers.
      operationId: getAccount
      x-speakeasy-name-override: get
      x-codeSamples:
        - lang: bash
          source: |
            GET https://api-sandbox.dwolla.com/accounts/ca32853c-48fa-40be-ae75-77b37504581b
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            var accountUrl = "https://api-sandbox.dwolla.com/accounts/ca32853c-48fa-40be-ae75-77b37504581b";

            dwolla.get(accountUrl).then((res) => res.body.name); // => 'Jane Doe'
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            account_url = 'https://api-sandbox.dwolla.com/accounts/ca32853c-48fa-40be-ae75-77b37504581b'

            account = app_token.get(account_url)
            account.body['name']
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $accountUrl = 'https://api-sandbox.dwolla.com/accounts/ca32853c-48fa-40be-ae75-77b37504581b';

            $accountsApi = new DwollaSwagger\AccountsApi($apiClient);

            $account = $accountsApi->id($accountUrl);
            print($account->name); # => "Jane Doe"
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            account_url = 'https://api-sandbox.dwolla.com/accounts/ca32853c-48fa-40be-ae75-77b37504581b'

            account = app_token.get account_url
            account.name # => "Jane Doe"
      parameters:
        - name: id
          in: path
          description: Account's unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/Account'
        '403':
          description: forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: forbidden
                  message:
                    type: string
                    example: Not authorized to retrieve an Account by id.
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-speakeasy-mcp:
        scopes:
          - read
  /funding-sources: {}
  /accounts/{id}/funding-sources:
    get:
      tags:
        - accounts
      summary: List funding sources for an account
      description: |
        Get a list of all funding sources associated with a specific Main Dwolla Account. This endpoint returns both bank accounts and balance funding sources, with detailed information about each funding source's status, type, and available processing channels.
      operationId: listFundingSources
      x-speakeasy-group: accounts.fundingSources
      x-speakeasy-name-override: list
      x-codeSamples:
        - lang: bash
          source: |
            GET https://api-sandbox.dwolla.com/accounts/CA366CA3-6D30-44D6-B0F3-8D86C64462A1/funding-sources
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            dwolla
              .get("accounts/CA366CA3-6D30-44D6-B0F3-8D86C64462A1/funding-sources")
              .then((res) => res.body.total); // => 1
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            funding_sources = app_token.get('accounts/CA366CA3-6D30-44D6-B0F3-8D86C64462A1/funding-sources')
            funding_sources.body['total'] # => 1
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $fundingApi = new DwollaSwagger\FundingsourcesApi($apiClient);

            $fundingSources = $fundingApi->getAccountFundingSources("CA366CA3-6D30-44D6-B0F3-8D86C64462A1");
            $fundingSources->total; # => 1
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            funding_sources = app_token.get "accounts/CA366CA3-6D30-44D6-B0F3-8D86C64462A1/funding-sources"
            funding_sources.total # => 1
      parameters:
        - name: id
          in: path
          description: Account's unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
        - name: removed
          in: query
          description: Filter removed funding sources. Boolean value. Defaults to `true`
          required: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/FundingSources'
        '403':
          description: forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: forbidden
                  message:
                    type: string
                    example: Not authorized to list funding sources.
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: notFound
                  message:
                    type: string
                    example: Account not found.
      x-speakeasy-mcp:
        scopes:
          - read
  /accounts/{id}/transfers:
    get:
      tags:
        - accounts
      summary: List and search account transfers
      description: Returns a paginated, searchable list of transfers associated with the specified Main Dwolla account. Supports advanced filtering by amount range, date range, transfer status, and correlation ID. Results are limited to 10,000 transfers per query; use date range filters for historical data beyond this limit.
      operationId: listAndSearchTransfers
      x-speakeasy-group: accounts.transfers
      x-speakeasy-name-override: list
      x-codeSamples:
        - lang: bash
          source: |
            GET https://api-sandbox.dwolla.com/accounts/CA366CA3-6D30-44D6-B0F3-8D86C64462A1/transfers
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            dwolla
              .get("accounts/CA366CA3-6D30-44D6-B0F3-8D86C64462A1/transfers")
              .then((res) => res.body.total); // => 1
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            transfers = app_token.get('accounts/CA366CA3-6D30-44D6-B0F3-8D86C64462A1/transfers')
            transfers.body['total'] # => 1
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $transfersApi = new DwollaSwagger\TransfersApi($apiClient);

            $transfers = $transfersApi->getAccountTransfers("CA366CA3-6D30-44D6-B0F3-8D86C64462A1");
            $transfers->total; # => 1
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            transfers = app_token.get "accounts/CA366CA3-6D30-44D6-B0F3-8D86C64462A1/transfers"
            transfers.total # => 1
      parameters:
        - name: id
          in: path
          description: Account's unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
        - name: search
          in: query
          description: A string to search on fields `firstName`, `lastName`, `email`, `businessName`, Customer ID, and Account ID
          required: false
          schema:
            type: string
        - name: startAmount
          in: query
          description: Only include transactions with an amount equal to or greater than `startAmount`
          required: false
          schema:
            type: string
        - name: endAmount
          in: query
          description: Only include transactions with an amount equal to or less than `endAmount`
          required: false
          schema:
            type: string
        - name: startDate
          in: query
          description: Only include transactions created after this date. ISO-8601 format `YYYY-MM-DD`
          required: false
          schema:
            type: string
        - name: endDate
          in: query
          description: Only include transactions created before this date. ISO-8601 format `YYYY-MM-DD`
          required: false
          schema:
            type: string
        - name: status
          in: query
          description: Filter on transaction status. Possible values are `pending`, `processed`, `failed`, or `cancelled`
          required: false
          schema:
            type: string
        - name: correlationId
          in: query
          description: A string value to search on if `correlationId` was specified for a transaction
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Number of search results to return. Defaults to 25
          required: false
          schema:
            type: string
        - name: offset
          in: query
          description: Number of search results to skip. Use for pagination
          required: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/Transfers'
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: notFound
                  message:
                    type: string
                    example: Account not found.
      x-speakeasy-mcp:
        scopes:
          - read
  /accounts/{id}/mass-payments:
    get:
      tags:
        - accounts
      summary: List account mass payments
      description: Returns a paginated list of mass payments created by your Main Dwolla account. Results are sorted by creation date in descending order (newest first) and can be filtered by correlation ID.
      operationId: listMassPayments
      x-speakeasy-group: accounts.massPayments
      x-speakeasy-name-override: list
      x-codeSamples:
        - lang: bash
          source: |
            GET https://api-sandbox.dwolla.com/accounts/CA366CA3-6D30-44D6-B0F3-8D86C64462A1/mass-payments
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            dwolla
              .get("accounts/CA366CA3-6D30-44D6-B0F3-8D86C64462A1/mass-payments")
              .then((res) => res.body.total); // => 1
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            mass_payments = app_token.get('accounts/CA366CA3-6D30-44D6-B0F3-8D86C64462A1/mass-payments')
            mass_payments.body['total'] # => 1
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $massPaymentsApi = new DwollaSwagger\MasspaymentsApi($apiClient);

            $massPayments = $massPaymentsApi->getAccountMassPayments("CA366CA3-6D30-44D6-B0F3-8D86C64462A1");
            $massPayments->total; # => 1
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            mass_payments = app_token.get "accounts/CA366CA3-6D30-44D6-B0F3-8D86C64462A1/mass-payments"
            mass_payments.total # => 1
      parameters:
        - name: id
          in: path
          description: Account's unique identifier
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
        - name: limit
          in: query
          description: Maximum number of results to return
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 200
            default: 25
            example: 25
        - name: offset
          in: query
          description: How many results to skip.
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            default: 0
            example: 0
        - name: correlationId
          in: query
          description: Correlation ID to search by.
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/MassPayments'
        '403':
          description: forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: forbidden
                  message:
                    type: string
                    example: Not authorized to list mass payments.
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: notFound
                  message:
                    type: string
                    example: Account not found.
      x-speakeasy-mcp:
        scopes:
          - read
  /customers:
    get:
      tags:
        - customers
      summary: List and search customers
      description: Returns a paginated list of customers sorted by creation date. Supports fuzzy search across customer names, business names, and email addresses, plus exact filtering by email and verification status. Default limit is 25 customers per page, maximum 200.
      operationId: listAndSearchCustomers
      x-speakeasy-name-override: list
      parameters:
        - name: limit
          in: query
          description: How many results to return
          required: false
          schema:
            type: integer
        - name: offset
          in: query
          description: How many results to skip
          required: false
          schema:
            type: integer
        - name: search
          in: query
          description: Searches on certain fields
          required: false
          schema:
            type: string
        - name: status
          in: query
          description: Filter by customer status
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/Customers'
        '403':
          description: Forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
      x-speakeasy-mcp:
        scopes:
          - read
  /business-classifications:
    get:
      tags:
        - customers
      summary: List business classifications
      description: Returns a directory of business and industry classifications required for creating business verified customers. Each business classification contains multiple industry classifications. The industry classification ID must be provided in the businessClassification parameter during business customer creation for verification.
      operationId: listBusinessClassifications
      x-speakeasy-group: businessClassifications
      x-speakeasy-name-override: list
      x-codeSamples:
        - lang: bash
          source: |
            GET https://api-sandbox.dwolla.com/business-classifications
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            dwolla
              .get("business-classifications")
              .then((res) => res.body._embedded["business-classifications"][0].name); // => 'Accommodation and Food Services'
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            classifications = app_token.get('business-classifications')
            classifications.body['_embedded']['business-classifications'][0]['name'] # => 'Accommodation and Food Services'
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $businessClassificationsApi = new DwollaSwagger\BusinessClassificationsApi($apiClient);
            $classifications = $businessClassificationsApi->_list();
            $classifications->_embedded->{'business-classifications'}[0]->name; # => "Accommodation and Food Services"
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            classifications = app_token.get "business-classifications"
            classifications._embedded.['business-classifications'][0].name # => "Accommodation and Food Services"
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/BusinessClassifications'
        '403':
          description: Forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-speakeasy-mcp:
        scopes:
          - read
  /customers/{id}/beneficial-owners:
    get:
      tags:
        - beneficial owners
      summary: List customer beneficial owners
      description: Returns all beneficial owners associated with a business verified customer. Beneficial owners are individuals who directly or indirectly own 25% or more of the company's equity. Includes personal information, verification status, and address details for each owner.
      operationId: listBeneficialOwnersForCustomer
      x-speakeasy-group: customers.beneficialOwners
      x-speakeasy-name-override: list
      x-codeSamples:
        - lang: bash
          source: |
            GET https://api-sandbox.dwolla.com/customers/81696e5d-a593-45a6-8863-3c20ad634de5/beneficial-owners
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            var customerUrl = "https://api-sandbox.dwolla.com/customers/176878b8-ecdb-469b-a82b-43ba5e8704b2";

            token
              .get(`${customerUrl}/beneficial-owners`)
              .then((res) => res.body._embedded["beneficial-owners"][0].id);
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            customer_url = 'https://api-sandbox.dwolla.com/customers/176878b8-ecdb-469b-a82b-43ba5e8704b2'

            beneficial_owners = app_token.get('%s/beneficial-owners' % customer_url)
            beneficial_owners.body['id']
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $customersApi = new DwollaSwagger\CustomersApi($apiClient);

            $customerUrl = 'https://api-sandbox.dwolla.com/customers/81696e5d-a593-45a6-8863-3c20ad634de5';
            $beneficialOwnerList = $customersApi->getBeneficialOwners($customerUrl);
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            customer_url = 'https://api-sandbox.dwolla.com/customers/176878b8-ecdb-469b-a82b-43ba5e8704b2'

            beneficial_owners = app_token.get "#{customer_url}/beneficial-owners"
            beneficial_owners._embedded['beneficial-owners'][0].id
      parameters:
        - name: id
          in: path
          description: Customer unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/BeneficialOwners'
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: not_found
                  message:
                    type: string
                    example: not found.
      x-speakeasy-mcp:
        scopes:
          - read
  /customers/{id}/beneficial-ownership:
    get:
      tags:
        - beneficial owners
      summary: Retrieve beneficial ownership status
      description: Returns the certification status of beneficial ownership for a business verified customer. Status indicates whether beneficial owner information has been certified and affects the customer's ability to send funds. Possible values include uncertified, certified, and recertify.
      operationId: getBeneficialOwnershipStatusForCustomer
      x-speakeasy-group: customers.beneficialOwnership
      x-speakeasy-name-override: get
      x-codeSamples:
        - lang: bash
          source: |
            GET https://api-sandbox.dwolla.com/customers/56502f7a-fa59-4a2f-8579-0f8bc9d7b9cc/beneficial-ownership
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            var customerUrl = "https://api-sandbox.dwolla.com/customers/56502f7a-fa59-4a2f-8579-0f8bc9d7b9cc";

            dwolla
              .get(`${customerUrl}/beneficial-ownership`)
              .then((res) => res.body.status); // => "uncertified"
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            customer_url = 'https://api-sandbox.dwolla.com/customers/56502f7a-fa59-4a2f-8579-0f8bc9d7b9cc'

            beneficial_ownership = app_token.get('%s/beneficial-ownership' % customer_url)
            beneficial_ownership.body['status'] # => 'uncertified'
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $customersApi = new DwollaSwagger\CustomersApi($apiClient);

            $newCustomer = 'https://api-sandbox.dwolla.com/customers/56502f7a-fa59-4a2f-8579-0f8bc9d7b9cc';
            $customerOwnershipStatus = $customersApi->getOwnershipStatus($newCustomer);
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            customer_url = 'https://api-sandbox.dwolla.com/customers/56502f7a-fa59-4a2f-8579-0f8bc9d7b9cc'

            beneficial_ownership = app_token.get "#{customer_url}/beneficial-ownership"
            beneficial_ownership.status # => "uncertified"
      parameters:
        - name: id
          in: path
          description: Customer unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/BeneficialOwnership'
        '403':
          description: forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: forbidden
                  message:
                    type: string
                    example: Not authorized to get certification status.
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: not_found
                  message:
                    type: string
                    example: Ownership certification status not found.
      x-speakeasy-mcp:
        scopes:
          - read
  /customers/{id}/documents:
    get:
      tags:
        - documents
      summary: List documents for customer
      description: Returns all identity verification documents submitted for a customer. Includes document status, verification results, document type (passport, driver's license, etc.), and failure reasons if verification was rejected. Used to track document submission and verification progress during the business verification process.
      operationId: listCustomerDocuments
      x-speakeasy-group: customers.documents
      x-speakeasy-name-override: list
      x-codeSamples:
        - lang: bash
          source: |
            GET https://api-sandbox.dwolla.com/customers/176878b8-ecdb-469b-a82b-43ba5e8704b2/documents
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLfwKehyh1RTpzjUj5KzIRfDi0wKTii7DqY

            ...

            {
              "_links": {
                "self": {
                  "href": "https://api-sandbox.dwolla.com/customers/176878b8-ecdb-469b-a82b-43ba5e8704b2/documents"
                }
              },
              "_embedded": {
                "documents": [
                  {
                    "_links": {
                      "self": {
                        "href": "https://api-sandbox.dwolla.com/documents/56502f7a-fa59-4a2f-8579-0f8bc9d7b9cc"
                      }
                    },
                    "id": "56502f7a-fa59-4a2f-8579-0f8bc9d7b9cc",
                    "status": "pending",
                    "type": "passport",
                    "created": "2015-09-29T21:42:16.000Z",
                    "documentVerificationStatus": "pending"
                  },
                  {
                    "_links": {
                        "self": {
                            "href": "https://api-sandbox.dwolla.com/documents/20988444-c7e1-40cf-ab1a-a20da878e568",
                            "type": "application/vnd.dwolla.v1.hal+json",
                            "resource-type": "document"
                        }
                    },
                    "id": "20988444-c7e1-40cf-ab1a-a20da878e568",
                    "status": "reviewed",
                    "type": "license",
                    "created": "2019-05-30T22:01:40.000Z",
                    "documentVerificationStatus": "rejected",
                    "failureReason": "ScanDobMismatch",
                    "allFailureReasons": [
                        {
                            "reason": "ScanDobMismatch",
                            "description": "Scan DOB does not match DOB on account"
                        },
                        {
                            "reason": "ScanIdExpired",
                            "description": "ID is expired or missing expiration date"
                        }
                    ]
                  }
                ]
              },
              "total": 2
            }
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            var customerUrl =
              "https://api-sandbox.dwolla.com/customers/176878b8-ecdb-469b-a82b-43ba5e8704b2";

            dwolla
              .get(`${customerUrl}/documents`)
              .then((res) => res.body._embedded["documents"][0].id); // => '56502f7a-fa59-4a2f-8579-0f8bc9d7b9cc'
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            customer_url = 'https://api-sandbox.dwolla.com/customers/176878b8-ecdb-469b-a82b-43ba5e8704b2'

            documents = app_token.get('%s/documents' % customer_url)
            documents.body['total'] # => 2
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $customerUrl = 'https://api-sandbox.dwolla.com/customers/176878b8-ecdb-469b-a82b-43ba5e8704b2';

            $customersApi = new DwollaSwagger\CustomersApi($apiClient);

            $customer = $customersApi->getCustomerDocuments($customerUrl);
            $customer->total; # => 2
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            customer_url = 'https://api-sandbox.dwolla.com/customers/176878b8-ecdb-469b-a82b-43ba5e8704b2'

            documents = app_token.get "#{customer_url}/documents"
            documents._embedded['documents'][0].id # => "56502f7a-fa59-4a2f-8579-0f8bc9d7b9cc"
      parameters:
        - name: id
          in: path
          description: customer unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/Documents'
        '403':
          description: Forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-speakeasy-mcp:
        scopes:
          - read
  /beneficial-owners/{id}/documents:
    get:
      tags:
        - documents
      summary: List documents for beneficial owner
      description: Returns all identity verification documents submitted for a beneficial owner. Includes document status, verification results, document type (passport, driver's license, etc.), and failure reasons if verification was rejected. Used to track document submission and verification progress during the business verification process.
      operationId: listBeneficialOwnerDocuments
      x-speakeasy-group: beneficialOwners.documents
      x-speakeasy-name-override: list
      x-codeSamples:
        - lang: bash
          source: |
            GET https://api-sandbox.dwolla.com/beneficial-owners/176878b8-ecdb-469b-a82b-43ba5e8704b2/documents
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLfwKehyh1RTpzjUj5KzIRfDi0wKTii7DqY

            ...

            {
              "_links": {
                "self": {
                  "href": "https://api-sandbox.dwolla.com/beneficial-owners/176878b8-ecdb-469b-a82b-43ba5e8704b2/documents"
                }
              },
              "_embedded": {
                "documents": [
                  {
                    "_links": {
                      "self": {
                        "href": "https://api-sandbox.dwolla.com/documents/56502f7a-fa59-4a2f-8579-0f8bc9d7b9cc"
                      }
                    },
                    "id": "56502f7a-fa59-4a2f-8579-0f8bc9d7b9cc",
                    "status": "pending",
                    "type": "passport",
                    "created": "2015-09-29T21:42:16.000Z",
                    "documentVerificationStatus": "pending"
                  },
                  {
                    "_links": {
                        "self": {
                            "href": "https://api-sandbox.dwolla.com/documents/20988444-c7e1-40cf-ab1a-a20da878e568",
                            "type": "application/vnd.dwolla.v1.hal+json",
                            "resource-type": "document"
                        }
                    },
                    "id": "20988444-c7e1-40cf-ab1a-a20da878e568",
                    "status": "reviewed",
                    "type": "license",
                    "created": "2019-05-30T22:01:40.000Z",
                    "documentVerificationStatus": "rejected",
                    "failureReason": "ScanDobMismatch",
                    "allFailureReasons": [
                        {
                            "reason": "ScanDobMismatch",
                            "description": "Scan DOB does not match DOB on account"
                        },
                        {
                            "reason": "ScanIdExpired",
                            "description": "ID is expired or missing expiration date"
                        }
                    ]
                  }
                ]
              },
              "total": 2
            }
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            var beneficialOwnerUrl =
              "https://api-sandbox.dwolla.com/beneficial-owners/176878b8-ecdb-469b-a82b-43ba5e8704b2";

            dwolla
              .get(`${beneficialOwnerUrl}/documents`)
              .then((res) => res.body._embedded["documents"][0].id); // => '56502f7a-fa59-4a2f-8579-0f8bc9d7b9cc'
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            beneficial_owner_url = 'https://api-sandbox.dwolla.com/beneficial-owners/176878b8-ecdb-469b-a82b-43ba5e8704b2'

            documents = app_token.get('%s/documents' % beneficial_owner_url)
            documents.body['total'] # => 2
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $beneficialOwnerUrl = 'https://api-sandbox.dwolla.com/beneficial-owners/176878b8-ecdb-469b-a82b-43ba5e8704b2';

            $beneficialOwnersApi = new DwollaSwagger\BeneficialOwnersApi($apiClient);

            $listDocsBeneficialOwner = $beneficialOwnersApi->getBeneficialOwnerDocuments($beneficialOwnerUrl);
            $listDocsBeneficialOwner->total; # => 2
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            beneficial_owner_url = 'https://api-sandbox.dwolla.com/beneficial-owners/176878b8-ecdb-469b-a82b-43ba5e8704b2'

            documents = app_token.get "#{beneficial_owner_url}/documents"
            documents._embedded['documents'][0].id # => "56502f7a-fa59-4a2f-8579-0f8bc9d7b9cc"
      parameters:
        - name: id
          in: path
          description: beneficial owner unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/Documents'
        '403':
          description: Forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-speakeasy-mcp:
        scopes:
          - read
  /customers/{id}/kba: {}
  /customers/{id}/funding-sources:
    get:
      tags:
        - funding sources
      summary: List customer funding sources
      description: Returns all funding sources for a customer, including bank accounts, debit card funding sources, and Dwolla balance (verified customers only). Shows verification status, limited account details, and creation dates. Card funding sources include masked card information. Supports filtering to exclude removed funding sources using the removed parameter.
      operationId: listCustomerFundingSources
      x-speakeasy-group: customers.fundingSources
      x-speakeasy-name-override: list
      x-codeSamples:
        - lang: bash
          source: |
            GET https://api-sandbox.dwolla.com/customers/5b29279d-6359-4c87-a318-e09095532733/funding-sources
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            var customerUrl =
              "https://api-sandbox.dwolla.com/customers/5b29279d-6359-4c87-a318-e09095532733";

            dwolla
              .get(`${customerUrl}/funding-sources`)
              .then((res) => res.body._embedded["funding-sources"][0].name); // => 'Jane Doe's Checking'
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            customer_url = 'https://api-sandbox.dwolla.com/customers/5b29279d-6359-4c87-a318-e09095532733'

            funding_sources = app_token.get('%s/funding-sources' % customer_url)
            funding_sources.body['_embedded']['funding-sources'][0]['name'] # => 'Jane Doe's Checking'
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $customerUrl = 'https://api-sandbox.dwolla.com/customers/5b29279d-6359-4c87-a318-e09095532733';

            $fsApi = new DwollaSwagger\FundingsourcesApi($apiClient);

            $fundingSources = $fsApi->getCustomerFundingSources($customerUrl);
            $fundingSources->_embedded->{'funding-sources'}[0]->name; # => "Jane Doe's Checking"
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            customer_url = 'https://api-sandbox.dwolla.com/customers/5b29279d-6359-4c87-a318-e09095532733'

            funding_sources = app_token.get "#{customer_url}/funding-sources"
            funding_sources._embedded['funding-sources'][0].name # => "Jane Doe's Checking"
      parameters:
        - name: id
          in: path
          description: Customer's unique identifier
          required: true
          schema:
            type: string
        - name: removed
          in: query
          description: Filter removed funding sources. Boolean value. Defaults to `true`
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/FundingSources'
        '403':
          description: forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: forbidden
                  message:
                    type: string
                    example: Not authorized to list funding sources.
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: notFound
                  message:
                    type: string
                    example: Customer not found.
      x-speakeasy-mcp:
        scopes:
          - read
  /funding-sources/{id}:
    get:
      tags:
        - funding sources
      summary: Retrieve a funding source
      description: Returns detailed information for a specific funding source, including its type, status, and verification details. Supports bank accounts (via Open Banking), debit card funding sources, and Dwolla balance (verified customers only). Debit card funding sources include masked card details such as brand, last four digits, expiration date, and cardholder name.
      operationId: getFundingSource
      x-speakeasy-group: fundingSources
      x-speakeasy-name-override: get
      x-codeSamples:
        - lang: bash
          source: |
            GET https://api-sandbox.dwolla.com/funding-sources/49dbaa24-1580-4b1c-8b58-24e26656fa31
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            var fundingSourceUrl =
              "https://api-sandbox.dwolla.com/funding-sources/49dbaa24-1580-4b1c-8b58-24e26656fa31";

            dwolla.get(fundingSourceUrl).then((res) => res.body.name); // => "Test checking account"
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            funding_source_url = 'https://api-sandbox.dwolla.com/funding-sources/49dbaa24-1580-4b1c-8b58-24e26656fa31'

            funding_source = app_token.get(funding_source_url)
            funding_source.body['name'] # => 'Test checking account'
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $fundingSourceUrl = 'https://api-sandbox.dwolla.com/funding-sources/49dbaa24-1580-4b1c-8b58-24e26656fa31';

            $fsApi = new DwollaSwagger\FundingsourcesApi($apiClient);

            $fundingSource = $fsApi->id($fundingSourceUrl);
            $fundingSource->name; # => "Test checking account"
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            funding_source_url = 'https://api-sandbox.dwolla.com/funding-sources/49dbaa24-1580-4b1c-8b58-24e26656fa31'

            funding_source = app_token.get funding_source_url
            funding_source.name # => "Test checking account"
      parameters:
        - name: id
          in: path
          description: Funding source unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/FundingSource'
              examples:
                standard_bank_account:
                  summary: Standard bank account
                  value:
                    _links:
                      self:
                        href: https://api-sandbox.dwolla.com/funding-sources/49dbaa24-1580-4b1c-8b58-24e26656fa31
                        type: application/vnd.dwolla.v1.hal+json
                        resource-type: funding-source
                    id: 49dbaa24-1580-4b1c-8b58-24e26656fa31
                    status: verified
                    type: bank
                    bankAccountType: checking
                    name: Test checking account
                    created: '2022-07-23T00:18:21.419Z'
                    removed: false
                    channels:
                      - ach
                    bankName: SANDBOX TEST BANK
                    fingerprint: 5012989b55af15400e8102f95d2ec5e7ce3aef45c01613280d80a236dd8d6c
                settlement_account:
                  summary: Card network settlement account
                  value:
                    _links:
                      self:
                        href: https://api-sandbox.dwolla.com/funding-sources/12345678-1234-1234-1234-123456789012
                        type: application/vnd.dwolla.v1.hal+json
                        resource-type: funding-source
                    id: 12345678-1234-1234-1234-123456789012
                    status: unverified
                    type: bank
                    bankAccountType: checking
                    name: Checkout.com Settlement Account
                    created: '2024-01-15T10:30:00.000Z'
                    removed: false
                    channels:
                      - ach
                      - real-time-payments
                    bankName: ABC Bank
                    fingerprint: 4cf31392f678cb26c62b75096e1a09d4465a801798b3d5c3729de44a4f54c794
                    bankUsageType: card-network
                card_funding_source:
                  summary: Debit card funding source
                  value:
                    _links:
                      self:
                        href: https://api-sandbox.dwolla.com/funding-sources/12345678-abcd-1234-abcd-123456789012
                        type: application/vnd.dwolla.v1.hal+json
                        resource-type: funding-source
                      transfer-to-balance:
                        href: https://api-sandbox.dwolla.com/transfers
                        type: application/vnd.dwolla.v1.hal+json
                        resource-type: transfer
                      remove:
                        href: https://api-sandbox.dwolla.com/funding-sources/12345678-abcd-1234-abcd-123456789012
                        type: application/vnd.dwolla.v1.hal+json
                        resource-type: funding-source
                      customer:
                        href: https://api-sandbox.dwolla.com/customers/91f059e7-fac6-4677-bee1-49057a6e528f
                        type: application/vnd.dwolla.v1.hal+json
                        resource-type: customer
                      transfer-receive:
                        href: https://api-sandbox.dwolla.com/transfers
                        type: application/vnd.dwolla.v1.hal+json
                        resource-type: transfer
                    id: 12fb2f3c-39c7-40cf-99e2-b0311ba39261
                    status: verified
                    type: card
                    name: My Visa Debit Card
                    created: '2025-12-10T18:02:47.985Z'
                    removed: false
                    channels: []
                    fingerprint: a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1b2
                    cardDetails:
                      brand: VISA
                      lastFour: '1519'
                      expirationMonth: 10
                      expirationYear: 2027
                      nameOnCard: Jane Doe
                      bin: '40247644'
                      billingAddress:
                        address1: 552 test
                        city: Des Moines
                        stateProvinceRegion: IA
                        country: US
                        postalCode: '50310'
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: notFound
                  message:
                    type: string
                    example: Funding source not found.
      x-speakeasy-mcp:
        scopes:
          - read
  /funding-sources/{id}/micro-deposits:
    get:
      tags:
        - funding sources
      summary: Retrieve micro-deposits details
      description: Returns the status and details of micro-deposits for a funding source to check verification eligibility. Includes deposit status (pending, processed, failed), creation timestamp, and failure details with ACH return codes if deposits failed. Use this endpoint to determine when micro-deposits are ready for verification.
      operationId: getMicroDeposits
      x-speakeasy-group: fundingSources.microDeposits
      x-speakeasy-override: get
      x-codeSamples:
        - lang: bash
          source: |
            GET https://api-sandbox.dwolla.com/funding-sources/692486f8-29f6-4516-a6a5-c69fd2ce854c/micro-deposits
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            var fundingSourceUrl =
              "https://api-sandbox.dwolla.com/funding-sources/692486f8-29f6-4516-a6a5-c69fd2ce854c";

            dwolla.get(`${fundingSourceUrl}/micro-deposits`).then((res) => res.body.status); // => "failed"
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            funding_source_url = 'https://api-sandbox.dwolla.com/funding-sources/692486f8-29f6-4516-a6a5-c69fd2ce854c'

            funding_source = app_token.get('%s/micro-deposits' % funding_source_url)
            funding_source.body['status'] # => 'failed'
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $fundingSourceUrl = 'https://api-sandbox.dwolla.com/funding-sources/692486f8-29f6-4516-a6a5-c69fd2ce854c';

            $fsApi = new DwollaSwagger\FundingsourcesApi($apiClient);

            $fundingSource = $fsApi->verifyMicroDepositsExist($fundingSourceUrl);
            $fundingSource->status; # => "failed"
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            funding_source_url = 'https://api-sandbox.dwolla.com/funding-sources/692486f8-29f6-4516-a6a5-c69fd2ce854c'

            funding_source = app_token.get "#{funding_source_url}/micro-deposits"
            funding_source.status # => "failed"
      parameters:
        - name: id
          in: path
          description: The ID of the FS that previously had micro-deposits initiated
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  _links:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/HalLink'
                  created:
                    type: string
                    format: date-time
                    example: '2022-12-30T20:56:53.000Z'
                  status:
                    type: string
                    example: failed
                  failure:
                    type: object
                    properties:
                      code:
                        type: string
                        example: R03
                      description:
                        type: string
                        example: No Account/Unable to locate account
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-speakeasy-mcp:
        scopes:
          - read
  /funding-sources/{id}/balance:
    get:
      tags:
        - funding sources
      summary: Retrieve funding source balance
      description: Returns the current balance for a specific funding source. For bank accounts, includes available and closing balances; for Dwolla balance, includes balance and total amounts; for settlement accounts (bankUsageType = card-network), includes available balance only. Supports bank accounts (via Open Banking), Dwolla balance (verified customers only), and settlement accounts for card network processing.
      operationId: getFundingSourceBalance
      x-speakeasy-group: fundingSources.balance
      x-speakeasy-name-override: get
      x-codeSamples:
        - lang: bash
          source: |
            GET https://api-sandbox.dwolla.com/funding-sources/c2eb3f03-1b0e-4d18-a4a2-e552cc111418/balance
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            var fundingSourceUrl =
              "https://api-sandbox.dwolla.com/funding-sources/c2eb3f03-1b0e-4d18-a4a2-e552cc111418";

            dwolla.get(`${fundingSourceUrl}/balance`).then((res) => res.body.balance.value);
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            funding_source_url = 'https://api-sandbox.dwolla.com/funding-sources/c2eb3f03-1b0e-4d18-a4a2-e552cc111418'

            funding_source = app_token.get('%s/balance' % funding_source_url)
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $fundingSourceUrl = 'https://api-sandbox.dwolla.com/funding-sources/c2eb3f03-1b0e-4d18-a4a2-e552cc111418';

            $fsApi = new DwollaSwagger\FundingsourcesApi($apiClient);

            $fundingSource = $fsApi->getBalance($fundingSourceUrl);
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            funding_source_url = 'https://api-sandbox.dwolla.com/funding-sources/c2eb3f03-1b0e-4d18-a4a2-e552cc111418'

            funding_source = app_token.get "#{funding_source_url}/balance"
      parameters:
        - name: id
          in: path
          description: ID of funding source to retrieve the balance for
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                oneOf:
                  - title: Dwolla Balance Response
                    description: Response for retrieving balance of a Dwolla Balance funding source
                    type: object
                    required:
                      - _links
                      - balance
                      - total
                      - lastUpdated
                    properties:
                      _links:
                        type: object
                        additionalProperties:
                          $ref: '#/components/schemas/HalLink'
                      balance:
                        type: object
                        properties:
                          value:
                            type: string
                            example: '4616.87'
                          currency:
                            type: string
                            example: USD
                      total:
                        type: object
                        properties:
                          value:
                            type: string
                            example: '4616.87'
                          currency:
                            type: string
                            example: USD
                      lastUpdated:
                        type: string
                        example: '2017-04-18T15:20:25.880Z'
                  - title: Bank Balance Response
                    description: Response for retrieving balance of a bank account verified through Open Banking
                    type: object
                    required:
                      - _links
                      - available
                      - closing
                      - lastUpdated
                    properties:
                      _links:
                        type: object
                        properties:
                          self:
                            type: object
                            properties:
                              href:
                                type: string
                                example: https://api.dwolla.com/funding-sources/42f48a64-2a9b-40df-9777-603ed2fe2764/balance
                              type:
                                type: string
                                example: application/vnd.dwolla.v1.hal+json
                              resource-type:
                                type: string
                                example: balance
                          funding-source:
                            type: object
                            properties:
                              href:
                                type: string
                                example: https://api.dwolla.com/funding-sources/42f48a64-2a9b-40df-9777-603ed2fe2764
                              type:
                                type: string
                                example: application/vnd.dwolla.v1.hal+json
                              resource-type:
                                type: string
                                example: funding-source
                      available:
                        type: object
                        properties:
                          value:
                            type: string
                            example: '542.00'
                          currency:
                            type: string
                            example: USD
                      closing:
                        type: object
                        properties:
                          value:
                            type: string
                            example: '542.00'
                          currency:
                            type: string
                            example: USD
                      lastUpdated:
                        type: string
                        example: '2024-09-09T16:39:14.219Z'
                  - title: Settlement Account Balance Response
                    description: Response for retrieving balance of a settlement account with bankUsageType = card-network
                    type: object
                    required:
                      - _links
                      - available
                    properties:
                      _links:
                        type: object
                        properties:
                          self:
                            type: object
                            properties:
                              href:
                                type: string
                                example: https://api.dwolla.com/funding-sources/12345678-1234-1234-1234-123456789012/balance
                              type:
                                type: string
                                example: application/vnd.dwolla.v1.hal+json
                              resource-type:
                                type: string
                                example: balance
                          funding-source:
                            type: object
                            properties:
                              href:
                                type: string
                                example: https://api.dwolla.com/funding-sources/12345678-1234-1234-1234-123456789012
                              type:
                                type: string
                                example: application/vnd.dwolla.v1.hal+json
                              resource-type:
                                type: string
                                example: funding-source
                      available:
                        type: object
                        properties:
                          value:
                            type: string
                            example: '3209.55'
                          currency:
                            type: string
                            example: USD
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: notFound
                  message:
                    type: string
                    example: Funding source not found.
      x-speakeasy-mcp:
        scopes:
          - read
  /on-demand-authorizations: {}
  /transfers: {}
  /customers/{id}/transfers:
    get:
      tags:
        - transfers
      summary: List and search transfers for a customer
      description: Retrieve and search transfers for a specific Customer with comprehensive filtering and pagination support. Supports searching by customer details (name, email, business name), amount ranges, date ranges, transfer status, and correlation IDs for enhanced transaction discovery. Returns paginated transfer results including status, amounts, metadata, and links to source and destination funding sources. Use this endpoint for transaction history analysis and reconciliation purposes.
      operationId: listCustomerTransfers
      x-speakeasy-group: customers.transfers
      x-speakeasy-name-override: list
      x-codeSamples:
        - lang: bash
          source: |
            GET https://api-sandbox.dwolla.com/customers/33e56307-6754-41cb-81e2-23a7f1072295/transfers
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            var customerUrl =
              "http://api-sandbox.dwolla.com/customers/33e56307-6754-41cb-81e2-23a7f1072295";

            dwolla
              .get(`${customerUrl}/transfers`)
              .then((res) => res.body._embedded["transfers"][0].status); // => "pending"
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            customer_url = 'http://api-sandbox.dwolla.com/customers/33e56307-6754-41cb-81e2-23a7f1072295'

            transfers = app_token.get('%s/transfers' % customer_url)
            transfers.body['_embedded']['transfers'][0]['status'] # => 'pending'
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $customerUrl = 'http://api-sandbox.dwolla.com/customers/33e56307-6754-41cb-81e2-23a7f1072295';

            $TransfersApi = new DwollaSwagger\TransfersApi($apiClient);

            $transfers = $TransfersApi->getCustomerTransfers($customerUrl);
            $transfers->_embedded->{'transfers'}[0]->status; # => "pending"
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            customer_url = 'http://api-sandbox.dwolla.com/customers/33e56307-6754-41cb-81e2-23a7f1072295'

            transfers = app_token.get "#{customer_url}/transfers"
            transfers._embedded['transfers'][0].status # => "pending"
      parameters:
        - name: id
          in: path
          description: Customer's unique identifier
          required: true
          schema:
            type: string
        - name: search
          in: query
          description: A string to search on fields `firstName`, `lastName`, `email`, `businessName`
          required: false
          schema:
            type: string
        - name: startAmount
          in: query
          description: Only include transactions with an amount equal to or greater than `startAmount`
          required: false
          schema:
            type: string
        - name: endAmount
          in: query
          description: Only include transactions with an amount equal to or less than `endAmount`
          required: false
          schema:
            type: string
        - name: startDate
          in: query
          description: Only include transactions created after this date. ISO-8601 format `YYYY-MM-DD`
          required: false
          schema:
            type: string
        - name: endDate
          in: query
          description: Only include transactions created before this date. ISO-8601 format `YYYY-MM-DD`
          required: false
          schema:
            type: string
        - name: status
          in: query
          description: Filter on transaction status. Possible values are `pending`, `processed`, `failed`, or `cancelled`
          required: false
          schema:
            type: string
        - name: correlationId
          in: query
          description: A string value to search on if `correlationId` was specified for a transaction
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Number of search results to return. Defaults to 25
          required: false
          schema:
            type: string
        - name: offset
          in: query
          description: Number of search results to skip. Use for pagination
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/Transfers'
        '404':
          description: 404 Not Found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-speakeasy-mcp:
        scopes:
          - read
  /transfers/{id}/fees:
    get:
      tags:
        - transfers
      summary: List fees for a transfer
      description: Retrieve detailed fee information for a specific transfer by its unique identifier. Returns the total number of fees and individual fee transaction details including amounts, status, and links to source and destination accounts.
      operationId: listTransferFees
      x-speakeasy-group: transfers.fees
      x-speakeasy-name-override: list
      x-codeSamples:
        - lang: bash
          source: |
            GET https://api-sandbox.dwolla.com/transfers/83eb4b5e-a5d9-e511-80de-0aa34a9b2388/fees
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            var transferUrl =
              "https://api-sandbox.dwolla.com/transfers/83eb4b5e-a5d9-e511-80de-0aa34a9b2388";

            dwolla.get(`${transferUrl}/fees`).then((res) => res.body.total); // => 2
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            transfer_url = 'https://api-sandbox.dwolla.com/transfers/83eb4b5e-a5d9-e511-80de-0aa34a9b2388'

            fees = app_token.get('%s/fees' % transfer_url)
            fees.body['total'] # => 2
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $transferUrl = 'https://api-sandbox.dwolla.com/transfers/83eb4b5e-a5d9-e511-80de-0aa34a9b2388';

            $transfersApi = new DwollaSwagger\TransfersApi($apiClient);

            $transferFees = $transfersApi->getFeesBySource($transferUrl);
            $transferFees->total; # => "2"
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            transfer_url = 'https://api-sandbox.dwolla.com/transfers/83eb4b5e-a5d9-e511-80de-0aa34a9b2388'

            fees = app_token.get "#{transfer_url}/fees"
            fees.total # => 2
      parameters:
        - name: id
          in: path
          description: ID of transfer to retrieve fees for
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  transactions:
                    type: array
                    items:
                      type: object
                      properties:
                        _links:
                          type: object
                          additionalProperties:
                            $ref: '#/components/schemas/HalLink'
                        id:
                          type: string
                          example: 416a2857-c887-4cca-bd02-8c3f75c4bb0e
                        status:
                          type: string
                          example: pending
                        amount:
                          type: object
                          properties:
                            value:
                              type: string
                              example: '2.00'
                            currency:
                              type: string
                              example: USD
                        created:
                          type: string
                          format: date-time
                          example: '2016-02-22T20:46:38.777Z'
                  total:
                    type: integer
                    format: int32
                    example: 1
        '404':
          description: 404 Not Found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-speakeasy-mcp:
        scopes:
          - read
  /transfers/{id}/failure:
    get:
      tags:
        - transfers
      summary: Retrieve a transfer failure reason
      description: Retrieve detailed failure information for a failed bank or VAN transfer including the ACH return code, description, and explanation. Returns failure details with links to the failed funding source and associated Customer for comprehensive error analysis. Available only for transfers with failure status and accessed through the failure link from transfer retrieval. Critical for troubleshooting payment failures and understanding ACH return reasons.
      operationId: getTransferFailureReason
      x-speakeasy-group: transfers.failure
      x-speakeasy-name-override: get
      x-codeSamples:
        - lang: bash
          source: |
            GET https://api-sandbox.dwolla.com/transfers/8997ebed-69be-e611-80ea-0aa34a9b2388/failure
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            var transferUrl =
              "https://api-sandbox.dwolla.com/transfers/83eb4b5e-a5d9-e511-80de-0aa34a9b2388";

            dwolla.get(`${transferUrl}/failure`).then((res) => res.body.code); // => 'R01'
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            transfer_url = 'https://api-sandbox.dwolla.com/transfers/83eb4b5e-a5d9-e511-80de-0aa34a9b2388'

            failure = app_token.get('%s/failure' % transfer_url)
            failure.body['code'] # => 'R01'
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $transferUrl = 'https://api-sandbox.dwolla.com/transfers/83eb4b5e-a5d9-e511-80de-0aa34a9b2388';

            $transfersApi = new DwollaSwagger\TransfersApi($apiClient);

            $transferFailure = $transfersApi->failureById($transferUrl);
            $transferFailure->code; # => "R01"
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            transfer_url = 'https://api-sandbox.dwolla.com/transfers/83eb4b5e-a5d9-e511-80de-0aa34a9b2388'

            failure = app_token.get "#{transfer_url}/failure"
            failure.code # => "R01"
      parameters:
        - name: id
          in: path
          description: Transfer unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                required:
                  - code
                  - description
                properties:
                  _links:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/HalLink'
                  code:
                    type: string
                    example: R03
                  description:
                    type: string
                    example: No Account/Unable to Locate Account
                  explanation:
                    type: string
                    example: The account number does not correspond to the individual identified in the entry or a valid account.
        '403':
          description: 403 Forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: 404 Not Found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
      x-speakeasy-mcp:
        scopes:
          - read
  /mass-payments: {}
  /mass-payments/{id}/items:
    get:
      tags:
        - mass payments
      summary: List items for a mass payment
      description: Retrieve individual payment items within a mass payment with optional status filtering and pagination support. Each item represents a distinct payment with status indicators (failed, pending, success) showing whether a transfer was successfully created. Returns paginated item details including amount, destination, metadata, and error information for failed items. Supports filtering by status and standard pagination.
      operationId: listMassPaymentItems
      x-speakeasy-group: massPayments.items
      x-speakeasy-name-override: list
      x-codeSamples:
        - lang: bash
          source: |
            GET https://api-sandbox.dwolla.com/mass-payments/eb467252-808c-4bc0-b86f-a5cd01454563/items
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            var massPaymentUrl =
              "https://api-sandbox.dwolla.com/mass-payments/eb467252-808c-4bc0-b86f-a5cd01454563";

            dwolla.get(`${massPaymentUrl}/items`).then((res) => res.body.total); // => 2
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            mass_payment_url = 'https://api-sandbox.dwolla.com/mass-payments/eb467252-808c-4bc0-b86f-a5cd01454563'

            mass_payment_items = app_token.get('%s/items' % mass_payment_url)
            mass_payment_items.body['total'] # => "2"
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $massPaymentUrl = 'https://api-sandbox.dwolla.com/mass-payments/eb467252-808c-4bc0-b86f-a5cd01454563';

            $massPaymentItemsApi = new DwollaSwagger\MasspaymentitemsApi($apiClient);

            $massPaymentItems = $massPaymentItemsApi->getMassPaymentItems($massPaymentUrl);
            $massPaymentItems->total; # => "2"
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            mass_payment_url = 'https://api-sandbox.dwolla.com/mass-payments/eb467252-808c-4bc0-b86f-a5cd01454563'

            mass_payment_items = app_token.get "#{mass_payment_url}/items"
            mass_payment_items.total # => 2
      parameters:
        - name: id
          in: path
          description: Mass payment unique identifier
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: How many results to return
          required: false
          schema:
            type: string
        - name: offset
          in: query
          description: How many results to skip
          required: false
          schema:
            type: string
        - name: status
          in: query
          description: Filter by item status
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  _links:
                    type: object
                    properties:
                      self:
                        type: object
                        properties:
                          href:
                            type: string
                            example: https://api.dwolla.com/mass-payments/eb467252-808c-4bc0-b86f-a5cd01454563/items
                      first:
                        type: object
                        properties:
                          href:
                            type: string
                            example: https://api.dwolla.com/mass-payments/eb467252-808c-4bc0-b86f-a5cd01454563/items?limit=25&offset=0
                      last:
                        type: object
                        properties:
                          href:
                            type: string
                            example: https://api.dwolla.com/mass-payments/eb467252-808c-4bc0-b86f-a5cd01454563/items?limit=25&offset=0
                  _embedded:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/MassPaymentItem'
                  total:
                    type: integer
                    format: int32
                    example: 3
        '403':
          description: Not authorized to list mass payment items
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: Forbidden
                  message:
                    type: string
                    example: Not authorized to list mass payment items.
        '404':
          description: Mass payment not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: NotFound
                  message:
                    type: string
                    example: Mass payment not found.
      x-speakeasy-mcp:
        scopes:
          - read
  /customers/{id}/mass-payments:
    get:
      tags:
        - mass payments
      summary: List mass payments for customer
      description: Retrieve all previously created mass payments for a Verified Customer account with optional correlation ID filtering and pagination support. Mass payments are returned ordered by date created with most recent appearing first. Returns paginated results including mass payment status, metadata, source funding information, and item links. Supports standard pagination parameters and correlation ID search for enhanced traceability.
      operationId: listCustomerMassPayments
      x-speakeasy-group: customers.massPayments
      x-speakeasy-name-override: list
      x-codeSamples:
        - lang: bash
          source: |
            GET https://api-sandbox.dwolla.com/customers/39e21228-5958-4c4f-96fe-48a4bf11332d/mass-payments
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            var customerUrl =
              "https://api-sandbox.dwolla.com/customers/ca32853c-48fa-40be-ae75-77b37504581b";

            dwolla
              .get(`${customerUrl}/mass-payments`, { limit: 10 })
              .then((res) => res.body._embedded["mass-payments"][0].status); // => "complete"
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            customer_url = 'https://api-sandbox.dwolla.com/customers/ca32853c-48fa-40be-ae75-77b37504581b'

            mass_payments = app_token.get('%s/mass-payments' % customer_url)
            mass_payments.body['_embedded']['mass-payments'][0]['status'] # => 'complete'
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $customerUrl = 'http://api-sandbox.dwolla.com/customers/01B47CB2-52AC-42A7-926C-6F1F50B1F271';
            $masspaymentsApi = new DwollaSwagger\MasspaymentsApi($apiClient);
            $masspayments = $masspaymentsApi->getByCustomer($customerUrl);
            $masspayments->_embedded->{'mass-payments'}[0]->status; # => "complete"
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            customer_url = 'https://api-sandbox.dwolla.com/customers/ca32853c-48fa-40be-ae75-77b37504581b'

            mass_payments = app_token.get "#{customer_url}/mass-payments", limit: 10
            mass_payments._embedded['mass-payments'][0].status # => "complete"
      parameters:
        - name: id
          in: path
          description: Customer ID to get mass payments for
          required: true
          schema:
            type: string
        - name: correlationId
          in: query
          description: A string value to search on if `correlationId` was specified for a transaction
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Number of search results to return. Defaults to 25
          required: false
          schema:
            type: integer
        - name: offset
          in: query
          description: Number of search results to skip. Use for pagination
          required: false
          schema:
            type: integer
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/MassPayments'
        '403':
          description: Not authorized to list mass payments
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: NotAuthorized
                  message:
                    type: string
                    example: Not authorized to list mass payments.
        '404':
          description: Customer not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: NotFound
                  message:
                    type: string
                    example: Customer not found.
      x-speakeasy-mcp:
        scopes:
          - read
  /customers/{id}/labels:
    get:
      tags:
        - labels
      summary: List labels for a customer
      description: Returns all labels for a specified Verified Customer, sorted by creation date (most recent first). Supports pagination with limit and offset parameters. Each label includes its current amount and creation timestamp.
      operationId: listCustomerLabels
      x-speakeasy-group: customers.labels
      x-speakeasy-name-override: list
      x-codeSamples:
        - lang: bash
          source: |
            GET https://api-sandbox.dwolla.com/customers/315a9456-3750-44bf-8b41-487b10d1d4bb/labels
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            var customerUrl =
              "https://api-sandbox.dwolla.com/customers/5b29279d-6359-4c87-a318-e09095532733";

            dwolla
              .get(`${customerUrl}/labels`)
              .then((res) => res.body._embedded["labels"][0].id); // => '7e042ffe-e25e-40d2-b86e-748b98845ecc'
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            customer_url = 'https://api-sandbox.dwolla.com/customers/315a9456-3750-44bf-8b41-487b10d1d4bb'

            labels = app_token.get('%s/labels' % customer_url)
            labels.body['_embedded']['labels'][0]['id'] # => '7e042ffe-e25e-40d2-b86e-748b98845ecc'
        - lang: php
          source: |
            <?php
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            $customerUrl = 'https://api-sandbox.dwolla.com/customers/315a9456-3750-44bf-8b41-487b10d1d4bb';

            $customersApi = new DwollaSwagger\CustomersApi($apiClient);

            $labels = $customersApi->getLabelsForCustomer($customerUrl);
            $labels->_embedded->{'labels'}[0]->id; # => "7e042ffe-e25e-40d2-b86e-748b98845ecc"
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            customer_url = 'https://api-sandbox.dwolla.com/customers/315a9456-3750-44bf-8b41-487b10d1d4bb'

            labels = app_token.get "#{customer_url}/labels"
            labels._embedded['labels'][0].id # => "7e042ffe-e25e-40d2-b86e-748b98845ecc"
      parameters:
        - name: id
          in: path
          description: ID of customer
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: How many results to return
          required: false
          schema:
            type: string
        - name: offset
          in: query
          description: How many results to skip
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: success operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/Labels'
        '403':
          description: Forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: Forbidden
                  message:
                    type: string
                    example: Not authorized to list customer labels
        '404':
          description: Not Found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: NotFound
                  message:
                    type: string
                    example: Customer not found
      x-speakeasy-mcp:
        scopes:
          - read
  /label-reallocations: {}
  /events:
    get:
      tags:
        - events
      summary: List events
      description: Returns a paginated list of events representing state changes to resources in your Dwolla application. Events track actions on customers, transfers, funding sources, and other resources, sorted by creation date (newest first). Events are retained for 30 days and are essential for webhook notifications and system activity monitoring.
      operationId: listEvents
      x-speakeasy-name-override: list
      x-codeSamples:
        - lang: bash
          source: |
            GET https://api-sandbox.dwolla.com/events
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY

            ...

            {
              "_links": {
                "self": {
                  "href": "https://api-sandbox.dwolla.com/events"
                },
                "first": {
                  "href": "https://api-sandbox.dwolla.com/events?limit=25&offset=0"
                },
                "last": {
                  "href": "https://api-sandbox.dwolla.com/events?limit=25&offset=150"
                },
                "next": {
                  "href": "https://api-sandbox.dwolla.com/events?limit=25&offset=25"
                }
              },
              "_embedded": {
                "events": [
                  {
                    "_links": {
                      "self": {
                        "href": "https://api-sandbox.dwolla.com/events/78e57644-56e4-4da2-b743-059479f2e80f"
                      },
                      "resource": {
                        "href": "https://api-sandbox.dwolla.com/transfers/47CFDDB4-1E74-E511-80DB-0AA34A9B2388"
                      },
                      "account": {
                        "href": "https://api-sandbox.dwolla.com/accounts/ca32853c-48fa-40be-ae75-77b37504581b"
                      }
                    },
                    "id": "78e57644-56e4-4da2-b743-059479f2e80f",
                    "created": "2015-10-16T15:58:18.000Z",
                    "topic": "bank_transfer_created",
                    "resourceId": "47CFDDB4-1E74-E511-80DB-0AA34A9B2388"
                  },
                  {
                    "_links": {
                      "self": {
                        "href": "https://api-sandbox.dwolla.com/events/f8e70f48-b7ff-47d0-9d3d-62a099363a76"
                      },
                      "resource": {
                        "href": "https://api-sandbox.dwolla.com/transfers/48CFDDB4-1E74-E511-80DB-0AA34A9B2388"
                      },
                      "account": {
                        "href": "https://api-sandbox.dwolla.com/accounts/ca32853c-48fa-40be-ae75-77b37504581b"
                      }
                    },
                    "id": "f8e70f48-b7ff-47d0-9d3d-62a099363a76",
                    "created": "2015-10-16T15:58:15.000Z",
                    "topic": "transfer_created",
                    "resourceId": "48CFDDB4-1E74-E511-80DB-0AA34A9B2388"
                  },
                  {
                    "_links": {
                      "self": {
                        "href": "https://api-sandbox.dwolla.com/events/9f0167e0-dce6-4a1a-ad26-30015d6f1cc1"
                      },
                      "resource": {
                        "href": "https://api-sandbox.dwolla.com/transfers/08A166BC-1B74-E511-80DB-0AA34A9B2388"
                      },
                      "account": {
                        "href": "https://api-sandbox.dwolla.com/accounts/ca32853c-48fa-40be-ae75-77b37504581b"
                      }
                    },
                    "id": "9f0167e0-dce6-4a1a-ad26-30015d6f1cc1",
                    "created": "2015-10-16T15:37:03.000Z",
                    "topic": "bank_transfer_created",
                    "resourceId": "08A166BC-1B74-E511-80DB-0AA34A9B2388"
                  }
                ]
              },
              "total": 3
            }
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            dwolla.get("events").then((res) => res.body.total); // => 3
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            events = app_token.get('events')
            events.body['total'] # => 3
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $eventsApi = new DwollaSwagger\EventsApi($apiClient);

            $events = $eventsApi->events();
            $events->total; # => 3
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            events = app_token.get "events"
            events.total # => 3
      parameters:
        - name: limit
          in: query
          description: How many results to return
          required: false
          schema:
            type: integer
        - name: offset
          in: query
          description: How many results to skip
          required: false
          schema:
[...]
