/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { DwollaMcpCore } from "../core.js";
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import {
  CreateCustomerExchangeSessionRequest,
  CreateCustomerExchangeSessionRequest$zodSchema,
  CreateCustomerExchangeSessionResponse,
  CreateCustomerExchangeSessionResponse$zodSchema,
} from "../models/operations/createcustomerexchangesession.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Create customer exchange session
 *
 * @remarks
 * Create a new exchange session for a customer to initiate Instant Account Verification using Dwolla's trusted open banking partners.
 * Currently supported partners are Plaid, Visa, and MX.
 *
 * The redirect-url is conditionally required:
 * - Required for Visa exchange sessions
 * - Required for Plaid exchange sessions on mobile platforms (Android/iOS)
 * - Not required for MX exchange sessions or Plaid web sessions
 */
export function exchangeSessions_create(
  client$: DwollaMcpCore,
  request: CreateCustomerExchangeSessionRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    CreateCustomerExchangeSessionResponse,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client$,
    request,
    options,
  ));
}

async function $do(
  client$: DwollaMcpCore,
  request: CreateCustomerExchangeSessionRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      CreateCustomerExchangeSessionResponse,
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const parsed$ = safeParse(
    request,
    (value$) => CreateCustomerExchangeSessionRequest$zodSchema.parse(value$),
    "Input validation failed",
  );
  if (!parsed$.ok) {
    return [parsed$, { status: "invalid" }];
  }
  const payload$ = parsed$.value;
  const body$ = encodeJSON("body", payload$.CreateCustomerExchangeSession, {
    explode: true,
  });

  const pathParams$ = {
    id: encodeSimple("id", payload$.id, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path$ = pathToFunc("/customers/{id}/exchange-sessions")(
    pathParams$,
  );

  const headers$ = new Headers(compactMap({
    "Content-Type": "application/vnd.dwolla.v1.hal+json",
    Accept: "application/vnd.dwolla.v1.hal+json",
  }));
  const securityInput = await extractSecurity(client$._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    baseURL: options?.serverURL ?? client$._baseURL ?? "",
    operationID: "createCustomerExchangeSession",
    oAuth2Scopes: [],
    resolvedSecurity: requestSecurity,
    securitySource: client$._options.security,
    retryConfig: options?.retries
      || client$._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || [
      "429",
      "500",
      "502",
      "503",
      "504",
    ],
  };

  const requestRes = client$._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path$,
    headers: headers$,
    body: body$,
    timeoutMs: options?.timeoutMs || client$._options.timeoutMs
      || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req$ = requestRes.value;

  const doResult = await client$._do(req$, {
    context,
    errorCodes: [],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req$ }];
  }
  const response = doResult.value;
  const responseFields$ = {
    HttpMeta: { Response: response, Request: req$ },
  };

  const [result$] = await M.match<
    CreateCustomerExchangeSessionResponse,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >(
    M.nil(201, CreateCustomerExchangeSessionResponse$zodSchema, { hdrs: true }),
    M.json(400, CreateCustomerExchangeSessionResponse$zodSchema, {
      ctype: "application/vnd.dwolla.v1.hal+json",
      key: "400_application/vnd.dwolla.v1.hal+json_oneOf",
    }),
    M.json(401, CreateCustomerExchangeSessionResponse$zodSchema, {
      ctype: "application/vnd.dwolla.v1.hal+json",
      key: "401_application/vnd.dwolla.v1.hal+json_object",
    }),
    M.json(403, CreateCustomerExchangeSessionResponse$zodSchema, {
      ctype: "application/vnd.dwolla.v1.hal+json",
      key: "403_application/vnd.dwolla.v1.hal+json_oneOf",
    }),
    M.json(404, CreateCustomerExchangeSessionResponse$zodSchema, {
      ctype: "application/vnd.dwolla.v1.hal+json",
      key: "NotFoundError",
    }),
  )(response, req$, { extraFields: responseFields$ });

  return [result$, { status: "complete", request: req$, response }];
}
